.CardContainer {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 5;
  box-shadow: 1px 1px 1px 1px #888888;
  font-size: 17px;
  padding: 20px;
}

.input-group-text {
  width: 200px;
  font-weight: 500;
}
